@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 377;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal__text {
  margin-bottom: 20px;
}

.modal__button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}